@import '../../../styles/style-variable.scss';

.top-bar-card {
  margin: 15px;
}

.iconify {
  margin: 0 8px 0 8px;
}

.star-icon {
  color: $highlight-color;
}

.right-block {
  text-align: right;
}

.user-name {
  display: inline-block;
  text-align: right;
}

.profile {
  font-size: 12px;
}

.cart-button {
  cursor: pointer;
  > .iconify {
    margin: 0;
  }
}
