@import '../../../styles/style-variable.scss';

.top-bar-card {
  margin: 15px;
}

.iconify {
  margin: 0 8px 0 8px;
}

.star-icon {
  color: $highlight-color;
}

.user-name {
  text-align: right;
}

.profile {
  font-size: 12px;
  margin: 0;
}

.cart-button {
  cursor: pointer;
  margin: 0 12px 0 12px;
  > .iconify {
    margin: 0;
  }
}

.shopping-cart {
  position: absolute;
  z-index: 99999;
  left: calc(100% - 500px);
}

@media only screen and (max-width: 540px) {
  .shopping-cart {
    left: auto;
  }
}

@media only screen and (min-width: 540px) and (max-width: 580px) {
  .shopping-cart {
    left: auto;
    left: calc(100% - 450px);
  }
}
