<mat-card class="top-bar-card">
    <div class="d-none d-xl-block">
        <span class="iconify" data-icon="feather-calendar" data-inline="false"></span>
        <span class="iconify" data-icon="feather-message-square" data-inline="false"></span>
        <span class="iconify" data-icon="feather-mail" data-inline="false"></span>
        <span class="iconify" data-icon="feather-check-square" data-inline="false"></span>
        <span class="iconify star-icon" data-icon="feather-star" data-inline="false"></span>
    </div>
    <span class="iconify d-xl-none" data-icon="bytesize:menu" data-inline="false"></span>
    <div class="d-none d-sm-block">
        <span class="iconify" data-icon="feather-search" data-inline="false"></span>
        <a (click)='cart()' class="cart-button"><mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon></a>
        <span class="iconify" data-icon="feather-bell" data-inline="false"></span>
        <span>Username</span>
    </div>
    <div class="d-block d-sm-none">
        <span class="iconify" data-icon="feather-search" data-inline="false"></span>
        <a (click)="cart()" class="cart-button"><span class="iconify" data-icon="feather-shopping-cart" data-inline="false"></span></a>
        <span class="iconify" data-icon="feather-bell" data-inline="false"></span>
    </div>
</mat-card>