<mat-card class="top-bar-card">
    <div>
        <span class="iconify" data-icon="feather-calendar" data-inline="false"></span>
        <span class="iconify" data-icon="feather-message-square" data-inline="false"></span>
        <span class="iconify" data-icon="feather-mail" data-inline="false"></span>
        <span class="iconify" data-icon="feather-check-square" data-inline="false"></span>
        <span class="iconify star-icon" data-icon="feather-star" data-inline="false"></span>
    </div>

    <div>
        <span class="iconify" data-icon="feather-search" data-inline="false"></span>
        <span class="iconify" data-icon="feather-shopping-cart" data-inline="false"></span>
        <span class="iconify" data-icon="feather-bell" data-inline="false"></span>
        <span>Username</span>
        <span>admin</span>
    </div>
</mat-card>