<mat-card class="top-bar-card">
  <mat-card-header class="row justify-content-between">
    <div class="col d-none d-none d-xl-block">
      <i class="iconify" data-icon="feather-calendar" data-inline="false"></i>
      <i class="iconify" data-icon="feather-message-square" data-inline="false"></i>
      <i class="iconify" data-icon="feather-mail" data-inline="false"></i>
      <i class="iconify" data-icon="feather-check-square" data-inline="false"></i>
      <i class="iconify star-icon" data-icon="feather-star" data-inline="false"></i>
    </div>
    <div class="col d-xl-none">
      <i class="iconify" data-icon="bytesize:menu" data-inline="false"></i>
    </div>
    <div class="col right-block">
      <i class="iconify" data-icon="feather-search" data-inline="false"></i>
      <i
        (click)="openShoppingCart()"
        class="cart-button"
        [matBadge]="(cartItemSize$ | async)?.length"
        [matBadgeHidden]="(cartItemSize$ | async)?.length == 0"
        matBadgeColor="primary"
        matBadgeSize="medium"
        ><i class="iconify" data-icon="feather-shopping-cart" data-inline="false"></i
      ></i>
      <i class="iconify cart-icon" data-icon="feather-bell" data-inline="false"></i>
      <div class="user-name">
        <span class="d-none d-sm-block">
          <b>Username</b><br />
          <span>admin</span>
        </span>
      </div>
    </div>
  </mat-card-header>
</mat-card>
