@import '~@angular/material/theming';
@import '../../../styles/style-variable.scss';

@mixin not-found-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
}
