<mat-card *ngIf="shoppingCart" class="d-flex flex-column cart-card">
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title>My Cart</mat-card-title>
    <span class="item-length">{{ shoppingCart?.length }} Items</span>
  </mat-card-header>
  <mat-card-content class="d-flex flex-column cart-card-content">
    <div *ngFor="let item of shoppingCart">
      <div class="d-flex justify-content-between align-items-center cart-items">
        <span>{{ item.name }}</span>
        <div class="d-flex flex-row align-items-center justify-content-center quantity">
          <input class="quantity-button" type="button" value="-" (click)="updateCartItem(item, false)" />
          <input
            class="quantity-count"
            step="1"
            type="number"
            min="0"
            [ngModel]="item.count"
            (ngModelChange)="changeItem($event, item)"
          />
          <input class="quantity-button" type="button" value="+" (click)="updateCartItem(item, true)" />
        </div>
        <div class="d-flex flex-row">
          <span>{{ item.total | currency }}</span>
          <a (click)="removeCartItem(item)">
            <span class="iconify remove-item" data-icon="codicon:close" data-inline="false"></span>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="shoppingCart?.length != 0" class="d-flex justify-content-between align-items-center total-items">
      <span>Total:</span><span class="total-amount">{{ totalAmount | currency }}</span>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="checkout-button"
      (click)="checkoutTheCart()"
      [disabled]="shoppingCart?.length == 0"
    >
      Checkout
    </button>
  </mat-card-content>
</mat-card>
