@import '../../../styles/style-variable.scss';

.item-length {
  color: $primary-color;
  height: 22px;
  border-radius: 25px;
  background-color: rgba(255, 159, 67, 0.12);
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  margin: 5px 20px 0 0;
}

.cart-card {
  position: absolute;
  width: 350px;
  height: fit-content;
  padding-left: 0;
  padding-right: 0;
  top: 20px;
}

.cart-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.cart-items,
.total-items {
  display: flex;
  justify-content: space-between;
  height: 45px;
  border-top: solid 0.5px $icon-color;
  padding: 10px 20px 5px 20px;
}

.total-amount {
  color: $primary-color;
}

.quantity {
  background-color: $default-foreground;
  border: solid 0.5px $icon-color;
  border-radius: 5px;
  height: 25px;
}

.quantity-count {
  width: 30px;
  height: 10px;
  text-align: center;
  font-size: 12px;
  background: transparent;
  border-width: 0 0.5px 0 0.5px;
  border-right: solid 0.5px $icon-color;
  border-left: solid 0.5px $icon-color;
  padding-right: 5px;
  padding-left: 5px;
  color: $text-color;
}

.quantity-button {
  width: 27px;
  border-width: 0;
  background: transparent;
  color: $icon-color;
}

.cart-items:hover {
  background-color: $default-background;
  .remove-item {
    visibility: visible;
  }
}

.checkout-button {
  margin: 0 20px 0 20px;
}

.remove-item {
  visibility: hidden;
}
