<div class="main-wrapper">
  <mat-sidenav-container class="row side-nav">
    <mat-sidenav class="col-xl-2 d-none d-xl-block" opened mode="side">
      <app-nav-bar></app-nav-bar>
    </mat-sidenav>

    <mat-sidenav-content class="col-xl-10 col side-nav-content">
        <app-top-bar class="sticky-top-bar" (openCart)="openShoppingCart($event)"></app-top-bar>
        <app-cart *ngIf="isOpenCart" class="shopping-cart" (outsideClick)="closeShoppingCart()"></app-cart>
        <!-- <app-cart class="shopping-cart"></app-cart> -->

        <mat-grid-list cols="6" rowHeight="180px">
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <app-card header="Continental Engineering Services">Our Maneuvering Collision Alert (MCA) is
              a generic collision warning function for all vehicle types (e.g. agriculture, construction, material handling).
              In maneuvering situations such as turning, reversing, vehicle positioning etc.
            </app-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <app-card header="heelo"></app-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <app-card header="heelo"></app-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <app-card header="heelo"></app-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="2">
            <app-card [centerText]= true>I am text centered</app-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <app-card header="heelo"></app-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <app-card header="heelo"></app-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <app-card header="heelo"></app-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <app-card header="heelo"></app-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <app-card header="heelo"></app-card>
          </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>