.main-wrapper {
    height: 100%;
    width: 100%;
}

.mat-sidenav-container {
	height: 100%;
	width: 100%;

    .top-bar {
		display: flex;
		position: fixed;
		width: 100%;
		z-index: 9999;
	}
}

.side-nav-content {
	background: transparent;
}

.nav-list a {
    width: 100%;
}

.sticky-top-bar {
	position: sticky;
}

.shopping-cart {
    position: absolute;
    z-index: 99999;
	left: calc(100% - 475px);
}