$custom-purple: (
  50: #f7f6fe,
  100: #e6e4fc,
  200: #d6d2fb,
  300: #d6d2fb,
  400: #c5c0f9,
  500: #b5aef7,
  600: #a49df5,
  700: #948bf4,
  800: #8379f2,
  900: #7367f0,
  A100: #6355ee,
  A200: #5243ec,
  A400: #4231eb,
  A700: #3120e9,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
    )
);

$custom-blue: (
    50: #5a6c9d,
    100: #536391,
    200: #4c5b84,
    300: #455278,
    400: #3d4a6b,
    500: #36415f,
    600: #2f3952,
    700: #283046,
    800: #21273a,
    900: #1a1f2d,
    A100: #131621,
    A200: #0b0e14,
    A300: #040508, 
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);

$custom-yellow: (
    50: #fff9f4,
    100: #ffefe0,
    200: #ffe5cc,
    300: #ffdbb9,
    400: #ffd1a5,
    500: #ffc791,
    600: #ffbd7e,
    700: #ffb36a,
    800: #ffa957,
    900: #ff9f43,
    A100: #ff952f,
    A200: #ff8b1c,
    A300: #ff952f,
    A400: #ff8b1c,
    A500: #ff8108,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);