@import '~@angular/material/theming';

$default-background: #161d31;
$default-foreground: #283046;

$primary-color: #7367f0;
$highlight-color: #ff9f43;
$item-hover-color: #161d31;
$item-count-text-background: rgba(255, 159, 67, 0.12);
$text-color: #d0d2d6;
$icon-color: #b4b7bd;

$circle-1-color: #b2c0c3;
$circle-1-background: rgb(255, 255, 255, 0.12);

$circle-2-color: #00cfe8;
$circle-2-background: rgba(0, 207, 232, 0.12);

$circle-3-color: #ea5455;
$circle-3-background: rgba(234, 84, 85, 0.12);

$circle-4-color: #28c76f;
$circle-4-background: rgba(40, 199, 111, 0.12);
