@import '../../../styles/style-variable.scss';

.image {
  border-radius: 50%;
  padding: 12px;
  margin-right: 5px;
}

.image-1 {
  color: $circle-1-color;
  background-color: $circle-1-background;
}

.image-2 {
  color: $circle-2-color;
  background-color: $circle-2-background;
}

.image-3 {
  color: $circle-3-color;
  background-color: $circle-3-background;
}

.image-4 {
  color: $circle-4-color;
  background-color: $circle-4-background;
}

.icon-block {
  margin: 5px;
}

.subtitle {
  margin: 0;
  font-size: 10px;
}
