@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap-grid';
@import '~@angular/material/theming';
@import 'styles/style-variable.scss';
@import 'styles/custom-theme.scss';

@import './app/feature-dashboard/dashboard/dashboard.component.theme.scss';
@import './app/feature-not-found/not-found/not-found.component.theme.scss';
@import './app/shared/nav-bar/nav-bar.component.theme.scss';

@include mat-core();

$custom-theme-primary: mat-palette($custom-purple, 900);
$custom-theme-accent: mat-palette($custom-blue, 700);
$custom-theme-warn: mat-palette($custom-yellow, 900);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@mixin custom-components-theme($theme) {
  @include dashboard-theme($theme);
  @include nav-bar-theme($theme);
  @include not-found-theme($theme);
  @include angular-material-theme($theme);
  @include mat-sidenav-theme($theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  background: $default-background;
  color: $text-color;
  @include custom-components-theme($custom-theme);

  .mat-card {
    background-color: $default-foreground;
    color: $text-color;
    border-radius: 8px;
  }

  .iconify {
    width: 22px;
    height: 22px;
  }
}
